<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyyMMdd HH:mm:ss.SSS}-[%thread][%X{traceId}] %-5level %c{1.}-%L TxId:[%X{PtxId}] SpanId:[%X{PspanId}]-%msg%n</Property>
        <Property name="APP_LOG_ROOT">c:/temp</Property>
        <Property name="APP_NAME">my-h2</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="FileLog"
                     filePattern="${APP_NAME}.%d{yyyy-MM-dd}-%i.log"
                     fileName="${APP_LOG_ROOT}/${APP_NAME}.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
               <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <AsyncLogger name="com.imcbb" additivity="false">
            <AppenderRef ref="FileLog" />
            <AppenderRef ref="Console" />
        </AsyncLogger>

        <AsyncRoot level="debug">
            <AppenderRef ref="Console" />
        </AsyncRoot>
    </Loggers>
</Configuration>